{% extends 'base.html' %}
{% block title %}BecskasszaSCH | Feltöltés{% endblock %}

<!-- Szükséges paraméterek: user, ... -->

{% block content %}
<h1>Egyenleg feltöltése</h1>
<h4>Coming soon</h4>

{#<form method="POST">#}
{#    {{ form.hidden_tag() }}#}
{#    <div class="mb-3">#}
{#        {{ form.schacc.label }}<br>#}
{#        {{ form.schacc(class_='form-control') }}#}
{#    </div>#}
{#    <div class="mb-3">#}
{#        {{ form.amount.label }}<br>#}
{#        {{ form.amount(class_='form-control') }}#}
{#    </div>#}
{#    <button type="submit" class="btn btn-success">{{ form.submit.label }}</button>#}
{#</form>#}
{% endblock %}
